In [1]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,columns=['name','score','attempts','qualify'],index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(df.head(3))
m=df.drop(['d','h'])
print(m)
new_data={"name" : "Suresh", "score": 15.5, "attempts": 1, "qualify": "yes"}
y = 0
f = []
new_row = {'Sucess' : []}
a = pd.DataFrame(new_row)
print(df.append(new_data,ignore_index=True))
print(df.drop(['attempts'],axis=1))
x=np.array(df["score"])
x[x<10]=0
x[x>=10]=1
d=x.tolist()
df["success"]=d
print(df)
df.to_csv("my_data")
my_data=pd.read_csv('my_data')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
         name  score  attempts qualify
0   Anastasia   12.5         1     yes
1        Dima    9.0         3      no
2   Katherine   16.5         2     yes
3       James    NaN         3      no
4       Emily    9.0         2      no
5     Michael   20.0         3     yes
6     Matthew   14.5         1     yes
7       Laura    NaN         1      no
8       Kevin    8.0         2      no
9       Jonas   19.0         1     yes
10     Suresh   15.5         1     yes
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
        name  score  attempts qualify  success
a  Anastasia   12.5         1     yes      1.0
b       Dima    9.0         3      no      0.0
c  Katherine   16.5         2     yes      1.0
d      James    NaN         3      no      NaN
e      Emily    9.0         2      no      0.0
f    Michael   20.0         3     yes      1.0
g    Matthew   14.5         1     yes      1.0
h      Laura    NaN         1      no      NaN
i      Kevin    8.0         2      no      0.0
j      Jonas   19.0         1     yes      1.0